* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #06090f;
}

.App-container {
  background-color: #06090f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  border: 2px solid #21262d;
  background-color: #0d1117;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}
.card .title {
  display: flex;
  justify-content: space-between;
  color: #c9d1d9;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  right: -12px;
}
.card .title h6 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  right: -15px;
}
.card p {
  color: #838c96;
}

.menu {
  display: flex;
  background-color: #161b22;
  justify-content: center;
  justify-items: center;
  height: 50px;
}
.navbar ul {
  display: flex;
  height: 15px;
  justify-content: center;
  justify-items: center;
}
.navbar ul li {
  display: flex;
  margin-top: 10%;
}
.nav-link {
  display: flex;
  list-style: none;
  margin-right: 8px;
}
.nav-item {
  display: flex;
  color: #aeb5bb;
  font-weight: bold;
  text-decoration: none;
  justify-content: center;
  justify-items: center;
}
.form-group {
  display: flex;
  justify-items: center;
  justify-content: center;
}
.form-input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #21262d;
  background-color: #0d1117;
  padding: 8px;
  margin: 15px;
  border-radius: 8px;
}
.input-post {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
.btn-post {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-post:hover {
  background-color: #45a049;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #21262d;
  background-color: #0d1117;
  padding: 8px;
  margin: 50px;

  border-radius: 8px;
  color: white;
}

.gitlab {
  cursor: pointer;
  text-decoration: underline;
}
